.card-container {
    border-radius: 5px;
    margin: 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    max-height: 350px;
    min-width: 200px;
    min-height: 300px;
}

.card-container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.thumb-img {
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    max-width: 100%;
}

.event-title {
    padding: 10px;
}

.footer-icon {
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon:hover {
    cursor: pointer;
}

.count {
    margin-left: 10px;
}

h4 {
    margin: 0;
}

.column {
    display: inline-block;
}

/* Remove extra left and right margins, due to padding */
.row {}

@media screen and (max-width: 600px) {
    .column {
        max-width: 300px;
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .thumb-img {
        width: 100%;
        max-width: unset;
    }
}