.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.posts {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.page-number {

  display: flex;
  margin: 30px;
  justify-content: center;
}

.page {
  margin: 20px;
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s smooth;
}

.page:hover {
  background-color: gray;
  transition: all 0.4s smooth;
  cursor: pointer;
  color: white;
}

.page-title {
  text-align: center;
}

.post-details {
  position: fixed;
  width: 100%;
  z-index: 1000;
  bottom: 0;
  padding: 20px 0;
  background: white;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);


}

.font-20 {
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.font-24 {
  padding: 10px;
  font-size: 24px;
}

.details-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 45%);
}

.close {
  position: fixed;
  color: white;
  font-size: 30px;
  right: 10px;
  top: 10px;
  background: black;
  z-index: 10000;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  cursor: pointer;
}